<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">

    <title>{{ title }} </title>

</head>
<body>
<ul class="nav bg-dark ">
  {% if title == 'home'  %}
      <li class="nav-item">
                 <a class="nav-link disabled" href="#">Blog Home</a>
               </li>
      <li class="nav-item">
            <a class="nav-link active" href="{% url 'fish_about' %}">About</a>
          </li>


     {% elif title == 'about' %}
          <li class="nav-item">
                 <a class="nav-link active" href="{% url 'fish_home' %}">Blog Home</a>
               </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>

      {% elif title == 'detail' %}
          <li class="nav-item">
                 <a class="nav-link active" href="{% url 'fish_home' %}">Blog Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'fish_about' %}">About</a>
          </li>


   {% endif %}
</ul>



<div class="container">
    {% block content %}


{% endblock content %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>